asn1crypto==1.2.0
certifi==2019.9.11
cffi==1.13.0
chardet==3.0.4
conda==4.7.12
conda-package-handling==1.6.0
cryptography==2.8
dnspython==1.16.0
docxtpl==0.6.3
et-xmlfile==1.0.1
idna==2.8
jdcal==1.4.1
Jinja2==2.11.1
lxml==4.5.0
MarkupSafe==1.1.1
menuinst==1.4.16
mysql-connector==2.2.9
mysql-connector-python==8.0.19
mysqlclient==1.4.6
numpy==1.18.1
openpyxl==3.0.3
protobuf==3.18.3
pycosat==0.6.3
pycparser==2.19
pyOpenSSL==19.0.0
PySocks==1.7.1
python-docx==0.8.7
pywin32==223
requests==2.22.0
ruamel-yaml==0.15.46
six==1.12.0
tqdm==4.36.1
urllib3==1.24.2
win-inet-pton==1.1.0
wincertstore==0.2
